
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 } 
 body {
    margin: 0;

  }

  /* heaher */
  nav{
    width: 100%;
    
  }
  nav:after {
    content:"";
    clear:both;
    display: table;
  }
  nav .logo{
    float: left;
    
    font-size: 40px;
    font-family:'Dancing Script', "cursive";
    font-weight: 600;
    line-height: 70px;
    padding-right: 50px;
    padding-left: 70px;
  }
  nav ul {
    float: left;
    list-style: none;
    margin-right: 40px;
    position: inline-block;

  }
  nav ul li {
    float: left;
    /* display: inline-block; */
    list-style: none;
    margin: 0 5px;
    width: auto;
    
    text-decoration: none;
  }
  
  nav ul li a {
  color: black;
  width: auto;
  text-decoration: none;
  line-height: 70px;
  font-size: 15px;
  padding: 10px 15px;
  }
  nav ul li a:hover {
    color:cyan;
    }

  nav ul ul {
  color: black;
  position: absolute;
  width: auto;
  text-align: left;
  top: 70px;
  text-decoration: none;
  opacity: 0 ;
  visibility: hidden;
  }
  nav ul li:hover > ul {
    top: 70px;
    opacity: 1 ;
    visibility: visible ;
    }
  
  nav ul ul li {
    position: relative;
    width: auto;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0);
    
  }
  nav ul ul li a{
    line-height: 40px;
  }
  
  nav ul ul li a:hover{
    color:cyan;
/*     box-shadow: 0 0 4px #33ffff,
                0 0 4px #66fff6; */
  }

  navbar-toggler-icon {
    color: white
  }
  
/*   .cart {
    padding-right: 20px;
  
  } */
  .search {
    cursor: pointer;
    float: right;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.search input {
    width: 280px;
    height: 30px;
    padding: 10px;
    margin-right: 10px;
}


.togap {
  color: black;
  padding-right: 10px;
  padding-left: 5px;
}

.togap:hover {
  color:cyan;

  }


.btn {
    display:inline-block ;
    background: #ff523b;
    cursor: pointer;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}

.btn :hover {
    background: #563434;
}

.header {
    width: 1580px;
  
    background: radial-gradient(#fff,#ffd6d6);
    position: sticky;
    top: 0;
}
.header .row{
    margin-top: 70px;
}

/* cart */
table {
    width: 100%;
    border-collapse: collapse;
}

.cart-detail {
    display: flex;
    flex-wrap: wrap;

}
th {
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff525f;
    font-size: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 35px;
    padding: 5px;

}

td a{
    color: #ff525f;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.total {
    display: flex;
    justify-content: flex-end;
    
}
.total table {
    border-top: 3px solid #ff525f;
    width: 100%;
    max-width: 380px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* ********shopping cart ******** */
.content {
    width: 80%;
    display: flex;

}

.split {
    margin-top: 90px;
    width: 80%;
    margin-left: 45px;
    padding-left: 10px;
    height: 500px;
    
}
.split2 {
    margin-top: 90px;
    width: 30%;
    padding-left: 30px;
    flex-wrap: wrap;
    height: 500px;

} 



/*** your recently view item****/

.col-viewcart {
    width: 1080px;
    display: inline-flex;
    flex-direction: row;
    /* flex-basis: 50%; */
    width: auto;
    height: auto;
    margin: 5px;
   
    padding-left: 50px;
    justify-content: center;

}


.col-viewcart img {
    width: 100px;
    height: 130px;
}

.imgtext {
    margin-left: 20px;
}

.add2cart{
    background: #f7a6a6;
    border-radius: 8px;
}
.add2cart:hover{
    background: #f50505;
    border-radius: 8px;
}


/****Item most buy*******/
/*I do not know why this div effect to all page*/
.mostbuy {
    /* height: 500px; */
    /* margin-top: 50px; */
    max-width: 1180px;
    margin:  200px 50px;
    /* padding-top: 500px; */
    padding-left: 20px;
    padding-right: 20px;
    align-items:flex-end;
    background: radial-gradient(#fff,#ffd6d6);
    margin-bottom: 40px;
} 

/* .title {
    background: #ff523b;
} */
/* *****footer CSS****** */
.container {
    max-width: 1300px;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-around;
}
.row {
    /* width: 1680px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.footer {
    width: 1580px;
    font-size: 15px;
    padding: 60px 0 20px;
    background: #000;
    color:white;

}

.footer p, a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.whiteiconcolor{
    color: white;
}

.footer a:hover {
    color: cyan;
}
.footer i:hover {
    color: cyan;
}


.footer h3, h2 {
    color:#fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,
.footer-col-3, .footer-col-4 {
    margin-bottom: 20px;
}

.footer-col-2 {
    text-align: left;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 16%;
    text-align: left;
}
ul {
    list-style-type: none;
}


/* ----The thing you may like----  */

/*Question ,this div effect to other*/
.youlike {
    /* height: 500px; */
    margin-top: 50px;
    max-width: auto;
    /* margin:  auto 50px; */
    padding-left: 20px;
    padding-right: 20px;
} 


/* .orgcolor {
    color: cyan;
} */

.starcolor {
    color: #ff525f;
}



